<template>
  <div class="home">

    Bienvenue sur Autoparts! <br>

    <img alt="Vue logo" src="../assets/logo.png">

  </div>
</template>

<script>

export default {
  name: 'home',
  components: {
  },
};
</script>
