<template>
  <tr>
    <td>
      {{ product.id }}
    </td>
    <td>
      {{ product.code }}
    </td>
    <td>
      {{ product.modelNo }}
    </td>
    <td>
      {{ product.unitPrice }}
    </td>
    <td>
      {{ product.inventory }}
    </td>
    <td>
      {{ supplier.name }}
    </td>
  </tr>
</template>

<script>
const suppliers = [
  {
    id: 1,
    name: 'Automotives Parts Inc',
    address_line_1: '3400, chemin de la Côte-Vertue',
    address_line_2: 'Suite 2400',
    address_city: 'Montréal',
    address_province: 'QC',
    address_postal_code: 'H1U 3N9',
    telephone: '(514) 243-8753',
    contact: 'Henri-Paul Levasseur',
  },
];

export default {
  name: 'one-product',
  props: {
    product: {
      required: true,
      type: Object,
    },
  },
  computed: {
    supplier() {
      return suppliers.find(s => s.id === this.product.supplierId);
    },
  },
};
</script>
