<template>
  <div class=''>
    <h1>Liste des produits</h1>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Code</th>
          <th>Modèle</th>
          <th>Prix Unitaire</th>
          <th>Inventaire</th>
          <th>Fournisseur</th>
        </tr>
      </thead>
      <tbody>
        <one-product :product="product" v-for="product in products"></one-product>
      </tbody>
    </table>
  </div>
</template>

<script>
import OneProduct from './OneProduct.vue';

const products = [
  {
    id: 1,
    title: 'Jante de pneus Mirolex',
    modelNo: 'MIR-72300',
    code: 'P0140',
    unitPrice: '269.99',
    inventory: '23',
    supplierId: 1,
  },
  {
    id: 2,
    title: 'Vitre Telemax Qualité Supérieure',
    modelNo: 'TM-7738',
    code: 'V0234',
    unitPrice: '123.89',
    inventory: '2',
    supplierId: 1,
  },
];

export default {
  name: 'product-list',
  components: { OneProduct },
  computed: {
    products() {
      return products;
    },
  },
};
</script>

<style scoped>
  table {
    width: 100%;
  }
</style>
